@mixin color-button($background-color) {
  color: $string-light;
  background: $background-color;
}

.button {
  display: inline-block;
  color: $string-dark;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-weight: $font-weight-bold;

  &:not(:hover) {
    opacity: .75;
  }
}

.button--large {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

@each $name, $color in $button-colors {
  .button--#{$name} {
    @include color-button($color);
  }
}