$primary-color: #007bff;
$warning-color: #f00;
$success-color: #449d44;
$string-light: #fff;
$string-dark: #333;
$header-color: #2a3342;


$button-colors: (
  primary: $primary-color,
  success: $success-color,
  warning: $warning-color,
);

@mixin primary {
  color: $string-light;
  background: $primary-color;
}
