@import 'font';
@import 'theme';
@import 'util/margin';
@import 'util/text-align';
@import 'layout/common';
@import 'layout/header';
@import 'layout/footer';
@import 'component/button';
@import 'component/panel';
@import 'component/form';

html {
  font-size: 62.5%;
  font-family: 'Noto Sans Japanese', sans-serif;
}

* {
  box-sizing: border-box;
}
